<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>


<header class="h-wrapper">
    <div class="container">
        <div class="login-about">
            <div class="d-flex">
                <div class="call-us">
                    <h6>تماس بگیرید</h6>
                    <h6>
                        <a href="tel:+982174389000">02174389000</a>
                    </h6>
                </div>
                    <img src="../../img/share/talking-by-phone-auricular-symbol-with-speech-bubble.png"
                         alt="talking-by-phone-auricular-symbol-with-speech-bubble">
            </div>
            <h6 data-toggle="dropdown" class="signup-login" style="text-align: left; cursor: pointer"><span class="dropdown-icon"></span>
                ورود/ثبت نام
            </h6>
            <img src="../../img/share/user-plus-solid.svg" data-toggle="dropdown" alt="signup/login">
            <div class="dropdown-menu shadow-sm">
                <div class="login-profile">
                    <button class="btn btn-outline-danger text-dark">ورود به تراست خودرو</button>
                    <h6>کاربر جدید هستم؟ <a href="#">ثبت نام</a></h6>
                    <h6><a href="#">پروفایل </a><img src="../../img/share/Layer 18.png" alt="profile-icon"></h6>
                </div>
            </div>
        </div>
        <ul class="nav-header">
            <li><a href="#">مقالات</a><span>|</span><img src="../../img/share/01.png" alt="" width="40"></li>
            <li><a href="#">درباره ما</a><span>|</span><img src="../../img/share/03.png" alt="" width="40"></li>
            <li><a href="#">سفارش خودرو</a><span>|</span><img src="../../img/share/02.png" alt="" width="40"></li>
            <li><a href="#">ثبت اگهی رایگان</a><span>|</span><img src="../../img/share/01.png" alt="" width="40"></li>
            <li><a href="#">جستجو خودرو</a><img src="../../img/share/search.png" alt="" width="40"></li>
        </ul>
        <a href="https://www.trust-khodro.com">
        <img src="../../img/share/logo.png" alt="logo"/>
        </a>
        <div class="sm-nav-header-icon">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" width="20" data-icon="bars"
                 class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 448 512">
                <path fill="currentColor"
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </div>
    </div>
    <div class="shadow-on-nav"></div>
</header>

<footer id="footer-wrapper" dir="rtl">
    <div class="container">
        <div id="nemads-wrapper">
            <div>
                <img src="../../img/share/enemad.png">
            </div>
            <div>
                <img src="../../img/share/enemad-2.png">
            </div>
            <div>
                <img src="../../img/share/enemad-3.png">
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-5">
                <div class="footer-item-wrapper">
                    <div class="footer-item">
                        <div class="footer-icon">
                            <img src="../../img/share/locatioion.png"/>
                        </div>
                        <div class="footer-text">
                            تهران، ابتدای جاده دماوند، جنب دفتر مرکزی ایرتویا
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                            <img src="../../img/share/tell.png"/>
                        </div>
                        <div class="footer-text">
                            <a href="tel:+982177142078">02177142078</a>
                            <a href="tel:+982174389000">02174389000</a>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                            <img src="../../img/share/mail.png"/>
                        </div>
                        <div class="footer-text">
                            <a href="mailto:support@trust-khodro.com">support@trust-khodro.com</a>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                            <img src="../../img/share/trust.png"/>
                        </div>
                        <div class="footer-text">
                            <a href="https://www.trust-khodro.com">www.trust-khodro.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-item-wrapper">
                    <div class="footer-item">
                        <div class="footer-header">
                            راهنمای خرید و فروش در تراست خودرو
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                        </div>
                        <div class="footer-text">
                            <a href="#">مراحل خرید</a>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                        </div>
                        <div class="footer-text">
                            <a href="#">مراحل فروش</a>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-icon">
                        </div>
                        <div class="footer-text">
                            <a href="#">مراحل سفارش خودرو</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="social-wrapper">
                    <a href="https://www.instagram.com/trustkhodro/">
                        <img src="../../img/share/instagram.jpg" alt="trust khodro">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="links-wrapper">
                <ul class="footer-links justify-content-start">
                    <li>
                        <a href="#">
                            درباره ما
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            گالری تصاویر
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            گالری ویدئو
                        </a>
                    </li>
                </ul>
                <ul class="footer-links justify-content-end">
                    <li>
                        <a href="#">
                            حریم خصوصی و قوانین
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            مقررات
                        </a>
                    </li>
                    <li style="margin-left: 0">
                        <a href="#">
                            راهنمای خرید امن
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
