<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <header class="h-wrapper">
        <div class="container-fluid">
            <div class="login-about">
                <div class="d-flex">
                    <div>
                        <h6>تماس بگیرید</h6>
                        <h6>021-74389000</h6>
                    </div>
                    <img src="../../img/share/talking-by-phone-auricular-symbol-with-speech-bubble.png" alt="talking-by-phone-auricular-symbol-with-speech-bubble">
                </div>
                <h6 data-toggle="dropdown" style="text-align: left"><span class="dropdown-icon"></span> ورود/ثبت نام</h6>
                <div class="dropdown-menu shadow-sm ">
                    <div class="login-profile">
                        <button class="btn btn-outline-danger text-dark">ورود به تراست خودرو</button>
                        <h6>کاربر جدید هستم؟ <a href="#">ثبت نام</a></h6>
                        <h6><a href="#">پروفایل </a><img src="../../img/share/Layer 18.png" alt="profile-icon"></h6>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li><a href="#">&#160;&#160;مقالات&#160;&#160;|</a></li>
                <li><a href="#">&#160;&#160;درباره ما&#160;&#160;|</a></li>
                <li><a href="#">&#160;&#160;سفارش خودرو&#160;</a>|</li>
                <li><a href="#">&#160;&#160;ثبت اگهی رایگان&#160;&#160;|</a></li>
                <li><a href="#">جستجو خودرو</a></li>
                <img src="../../img/share/logo.png" alt="logo"/>
            </ul>
        </div>
    </header>
</body>
</html>