<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid p-0 mb-3">
            <div style="background: url('https://via.placeholder.com/1920x320') center no-repeat; background-size: cover; width: 100%; height: 320px;">
                
            </div>
        </div>
        <div class="bar-fixer">
        <div class="content-main container p-0 position-relative">
            <div class="row w-100 align-items-end m-0">
                    <!-- <div class="red-lit-bar col-1"></div> -->
                <div class="content col-12 d-flex justify-content-between px-5">
                        <h5>پاسخگویی تلفنی:ایام هفته بجز جمعه ها و روز های تعطیل</h5>
                        <h5><img src="../../img/تماس با ما.png" alt="phone">021-7438900</h5>
                </div>
                    <!-- <div class="red-lit-bar col-1"></div> -->
            </div>
        </div>
    </div>
        <div class="container">
            <div class="red-md-bar row">
                <h6 class="col-lg-7 col-6"><img src="../../img/map-marker-alt-solid.svg" alt="tag"> ابتدای جاده دماوند،جنب دفتر مرکزی ایرتویا</h6>
                <h6 class="col-lg-2 col-2" style="white-space: nowrap;">trustkhodro <img src="../../img/instagram-brands.svg" alt="instagram-brands"></h6>
                <h6 class="col-lg-3 col-4">support@trust-khodro <img src="../../img/envelope-regular.svg" alt="email"/></h6>
            </div>
        </div>
        <div class="container p-0">
            <div class="d-flex msale-expert justify-content-between">
                <div class="red-lg-bar"></div>
                <div class="row sale-expert">
                        <div class="card rounded-0 border-0 col-lg col-sm">
                                <div class="card-body">
                                <img class="card-img" src="https://via.placeholder.com/270x200" alt="Card image">
                                <h4 class="card-title">سهند نورزاده</h4>
                                <h5 class="card-text">کارشناس فروش</h5>
                                <h5 class="card-text">تلفن داخلی:8190</h5>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 col-lg col-sm">
                                    <div class="card-body">
                                    <img class="card-img" src="https://via.placeholder.com/270x200" alt="Card image">
                                    <h4 class="card-title">سهند نورزاده</h4>
                                    <h5 class="card-text">کارشناس فروش</h5>
                                    <h5 class="card-text">تلفن داخلی:8190</h5>
                                    </div>
                                </div>
                    <div class="col-lg-6">
                        <p>خرید و فروش خودروهای دست دوم همواره برای مالکین و خریداران مشکلاتی را به همراه داشته است. خریداران همیشه با عدم اطمینان به سراغ خودروی مورد نظرشان می روند، زیرا اطلاعات دقیقی از گذشته خودرو، خصوصا وضعیت فنی آن ندارند. از طرف دیگر فروشندگان سعی دارند خودروی کارکرده خود را با قیمت بیشتر و ضرر کمتری بفروش برسانند. در این میان یافتن بنگاه های منصف و مطمئن به منظور اطمینان خاطر طرفین معامله نیز بر سختی این امر افزوده است. در این راستا تراست خودرو سعی دارد با راه اندازی یک مرکز حرفه ای در این حوزه، تحولی شگرف ایجاد نماید. این مرکز با پیاده سازی استانداردهای جهانی و همکاری با شرکت های نگین خودرو، ایرتویا و آرین خودرو پارس به عنوان نمایندگان رسمی رنو، تویوتا و جیلی در ایران در کنار خدمات خرید و فروش، خدماتی همچون ارزیابی تخصصی کیفی، گارانتی و پشتیبانی فنی به خودروهای کارکرده را نیز ارائه می نماید</p>
                    </div>
                </div>
                <div class="red-lg-bar"></div>
        </div>
            <div class="gallery1">
                <img src="https://via.placeholder.com/364x273" alt="carimg" class="imggallery1"/>
                <img src="https://via.placeholder.com/364x273" alt="carimg" class="imggallery1"/>
                <img src="https://via.placeholder.com/364x273" alt="carimg" class="imggallery1"/>
            </div>
        </div>
    </div>
    <div class="w-100" style="height:500px"></div>
</body>
</html>