<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid p-0 mb-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.047580433087!2d51.56580901520153!3d35.7250483351751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e1d0e88f9b529%3A0x62973487cad53731!2sTrust+Khodro!5e0!3m2!1sen!2s!4v1557144775541!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
                
            </iframe>
        </div>
        <div class="bar-fixer">
            <div class="content-main container p-0 position-relative">
                <div class="row w-100 align-items-end m-0">
                    <div class="content col-12 d-flex justify-content-between px-5">
                        <h5><a>پاسخگویی تلفنی:ایام هفته بجز جمعه ها و روز های تعطیل</a></h5>
                        <h5><a href="tel:021-7438900"><img src="../../img/about/تماس با ما.png" alt="phone">021-7438900</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="red-md-bar row">
                <h6 class="col-lg-7 col-6"><a><img src="../../img/about/map-marker-alt-solid.svg" alt="tag"> ابتدای جاده
                    دماوند،جنب دفتر مرکزی ایرتویا</a></h6>
                <h6 class="col-lg-2 col-2" style="white-space: nowrap;"><a href="https://www.instagram.com/trustkhodro">trustkhodro <img src="../../img/about/instagram-brands.svg"
                        alt="instagram-brands"></a></h6>
                <h6 class="col-lg-3 col-4"><a href="mailto:support@trust-khodro.com">support@trust-khodro <img src="../../img/about/envelope-regular.svg" alt="email"/></a></h6>
            </div>
        </div>
        <div class="container p-0">
            <div class="d-flex msale-expert justify-content-center">
                <div class="row sale-expert">
                    <div class="card rounded-0 border-0 col-lg col-sm">
                        <div class="card-body">
                            <img class="card-img" src="../../img/about/IMG_1051.jpg" alt="Card image">
                            <h4 class="card-title">سهند نورزاده</h4>
                            <h5 class="card-text">کارشناس فروش</h5>
                            <h5 class="card-text">تلفن داخلی:8190</h5>
                        </div>
                    </div>
                    <div class="card rounded-0 border-0 col-lg col-sm">
                        <div class="card-body">
                            <img class="card-img" src="../../img/about/IMG_1053.jpg" alt="Card image">
                            <h4 class="card-title">سهند نورزاده</h4>
                            <h5 class="card-text">کارشناس فروش</h5>
                            <h5 class="card-text">تلفن داخلی:8190</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p>خرید و فروش خودروهای دست دوم همواره برای مالکین و خریداران مشکلاتی را به همراه داشته است.
                            خریداران همیشه با عدم اطمینان به سراغ خودروی مورد نظرشان می روند، زیرا اطلاعات دقیقی از
                            گذشته خودرو، خصوصا وضعیت فنی آن ندارند. از طرف دیگر فروشندگان سعی دارند خودروی کارکرده خود
                            را با قیمت بیشتر و ضرر کمتری بفروش برسانند. در این میان یافتن بنگاه های منصف و مطمئن به
                            منظور اطمینان خاطر طرفین معامله نیز بر سختی این امر افزوده است. در این راستا تراست خودرو
                            سعی دارد با راه اندازی یک مرکز حرفه ای در این حوزه، تحولی شگرف ایجاد نماید. این مرکز با
                            پیاده سازی استانداردهای جهانی و همکاری با شرکت های نگین خودرو، ایرتویا و آرین خودرو پارس به
                            عنوان نمایندگان رسمی رنو، تویوتا و جیلی در ایران در کنار خدمات خرید و فروش، خدماتی همچون
                            ارزیابی تخصصی کیفی، گارانتی و پشتیبانی فنی به خودروهای کارکرده را نیز ارائه می نماید</p>
                    </div>
                </div>
            </div>
            <div class="gallery-1-caption row">
                <div class="col-md-4 info-items-yasin">
                    <img src="../../img/about/2019-02-17 11.01.jpg" alt="car-img" />
                    <h4>اولین و تنها مرکز ارائه دهنده گارانتی معتبر ایرتویا، نگین خودرو</h4>
                    <p><ul><li>ارائه گواهی تأیید سلامت
                        ظاهری و فنی خودروهای کارکرده، توسط شرکت های ایـرتـویــا، نگیـــن
                        خــودرو و آرین خودرو پارس </li></ul><ul><li>ارائه
                        گارانتی معتبر، توسط شرکت های (ایـرتـویــا، نگیـــن خــودرو و
                        آرین خودرو پارس</li></ul></p>
                </div>
                <div class="col-md-4 info-items-yasin">
                    <img src="../../img/about/logocopy.jpg" alt="logo">
                    <h4>تنها مرکز تخصصی خرید و فروش خودروهای کارکرده رنو،تویوتا و لکسوس</h4>
                    <p><ul><li>امکان تعویض خودروهای
                        کارکرده با خودروهای کارشناسی شده، دارای گواهی فنی و ارتقاء یافته توسط تراست
                        خودرو</li></ul><ul><li>حضور کارشناسان و
                        متخصصین زبده تراست خودرو، جهت ارزش گذاری و تعیین قیمت منصفانه خودروهای
                        کارکرده</li></ul></p>
                </div>
                <div class="col-md-4 info-items-yasin" style="text-align: right;">
                    <img src="../../img/about/IMG_2255.jpg" alt="car-img" />
                    <h4>پشتیبانی شرکت های ایرتویا</h4>
                    <p><ul><li>وجود تعمیرگاه‌های مجهز به
                        جدیدترین تجهیزات و قطعات یدکی اصلی تویوتا، رنـو و جیلی
                        </li></ul><ul><li>حذف واسطه، جهت سرعت
                        بخشیدن در روند خرید و فروش خودروهای کارکرده</li></ul></p>
                </div>
            </div>
            <div class="big-images">
                <img src="../../img/about/IMG_1046.jpg" alt="showroom">
            </div>
            <div class="gallery-2">
                <h3>گالری تصاویر</h3>
                <div class="pages">
                    <div class="page-n">
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/1 (1).jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/lexsus.jpg" alt="gallery-img">
                            </div>
                        </div>
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/IMG_2707.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                        </div>
                    </div>
                    <div class="page-n">
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                        </div>
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                        </div>
                    </div>
                    <div class="page-n">
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="https://via.placeholder.com/328x171" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                        </div>
                        <div class="row">
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                            <div class="gallery-img col-lg col-sm-5">
                                <img src="../../img/about/2019-02-17 11.02.jpg" alt="gallery-img">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination justify-content-center" dir="ltr">
                    <li class="page-item"><a class="page-link border-0 rounded-lg"><svg aria-hidden="true" width="12" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
                    </li>
                    <li class="page-item"><a class="page-link border-0 rounded-lg"><svg aria-hidden="true" width="8" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"> <path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></a>
                    </li>
                    <li class="page-item"><a class="page-link border-0 rounded-lg">3</a></li>
                    <li class="page-item "><a class="page-link border-0 rounded-lg">2</a></li>
                    <li class="page-item active"><a class="page-link border-0 rounded-lg">1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="width:100%; height:100px;"></div>
    <div class="modal animated fadeIn faster" id="galleryModal">
        <div class="modal-dialog">
                    <img src="">
        </div>
    </div>
    <div class="block-change" onchange="change()" style="display:none;"></div>
</body>

</html>
