<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid p-0 mb-2">
            <div class="jumbotron">
                
            </div>
        </div>
        <div class="content-main container-fluid d-flex align-items-end p-0 position-relative">
            <div class="content d-flex justify-content-between">
                    <h3>021-7438900</h3>
                    <h3>پاسخگویی تلفنی:ایام هفته بجز جمعه ها و روز های تعطیل</h3>
            </div>
            <div class="red-lit-bar d-flex justify-content-between">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>