<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>سفارش خودرو</title>
</head>

<body dir="rtl">

    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-3">
                <img src="../../img/order-pic.png" class="img-fluid " alt="Responsive image" style="max-width:100%;height: auto;">


            </div>
            <div class="col-6">

                <img src="../../img/order-mokup.png" class="img-fluid" alt="Responsive image" style="max-width:100%;height: auto;">

            </div>
            <div class="w-100"></div>
            <div class="col" style="margin-top: 10px;">

                <h4>
                    خودروی مورد نظرت رو سفارش بده
                </h4>

            </div>

        </div>
    </div>



    <div class="container border" style="background:#eee">

        <BR>

        <div class="row ">
            <div class="col">

                <select class="form-control">
                    <option>برند مورد نظر را انتخاب کنید </option>
                    <option>تویوتا</option>
                    <option> لکسوس</option>
                    <option> رنو</option>

                </select>

            </div>

            <div class="col">


                <select class="form-control">
                    <option>مدل مورد نظر را انتخاب کنید </option>
                    <option>C-HR</option>
                    <option> PRIUS</option>
                    <option> PRADO</option>

                </select>



            </div>

            <div class="col">


                <select class="form-control">
                    <option>تیپ مورد نظر را انتخاب کنید </option>
                    <option>E3</option>
                    <option> ES</option>
                    <option> ML</option>

                </select>

            </div>

        </div>
        <br>

        <div class="row">
            <div class="col">

                <select class="form-control">
                    <option>از سال</option>
                    <option>2011</option>
                    <option> 2012</option>
                    <option> 2013</option>
                    <option> 2014</option>
                    <option> 2015</option>
                    <option> 2016</option>
                </select>




            </div>

            <div class="col">


                <select class="form-control">
                    <option>تا سال</option>
                    <option>2011</option>
                    <option> 2012</option>
                    <option> 2013</option>
                    <option> 2014</option>
                    <option> 2015</option>
                    <option> 2016</option>
                </select>



            </div>

            <div class="col">



            </div>

        </div>

        <br>

        <div class="row ">
            <div class="col">

                <input class="form-control" type="text" placeholder=" از قیمت">

            </div>

            <div class="col">


                <input class="form-control" type="text" placeholder="تا قیمت">



            </div>

            <div class="col">


            </div>

        </div>
        <br>


        <div class="row">

            <div class="col">


                <input class="form-control" type="text" placeholder="از کارکرد">




            </div>

            <div class="col">


                <input class="form-control" type="text" placeholder="تا کارکرد">


            </div>
            <div class="col">



            </div>


        </div>
        <br>
        <div class="row">

            <div class="col">

                <textarea class="form-control" id="validationTextarea" placeholder="توضیحات" required></textarea>

            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-3">
                <button type="button" class="btn btn-info">ثبت اطلاعات و ادامه</button>

            </div>

        </div>
        <br>
    </div>
    <br>

    <div class="container-fluid" style="background-color: #eee;padding: 10px;">
        <div class="container">


            <h3>
                تراست خودرو همینو برام بخر
            </h3>
            <p> اطلاعات خودروی مورد نظر خود را وارد نمایید تا کارشناسان ما گوش به زنگ باشند و به محض ورود خودروی مورد
                نظر شما به مرکز تراست خودرو با شما تماس بگیرند</p>


        </div>



    </div>
    <br>

    <!--navigation-->

    <div class="container">

        <div class="row ">
            <div class="col-lg access">
                <div class="fontmd col-12 text-justify">
                    <span class="access-icon" style="background-position: -7px -30px"></span>
                    <span>
                        ثبت آگهی رایگان

                    </span>
                    <span>
                        اطلاعات خودرو تو ثبت کن تا برای فروش در این سایت نمایش داده بشه

                    </span>
                </div>
            </div>
            <div class="col-lg access">
                <div class="fontmd col-12 text-justify ">
                    <span class="access-icon" style="background-position: -105px -30px "></span>
                    <span>
                        سفارش خودرو
                    </span>
                    <span class="">
                        خودرویی که میخوای و پیدا نمی کنی همین حالا مشخصاتش رو ثبت کن تا ما برات پیداش کنیم

                    </span>
                </div>
            </div>
            <div class="col-lg access">
                <div class="fontmd col-12 text-justify ">
                    <span class="access-icon" style="background-position: -780px -30px "></span>
                    <span>
                        مشاوره تخصصی رایگان

                    </span>
                    <span>
                        نیاز به کمک داری و دوست داری با یه کارشناس خبره مشورت کنی پس همین حالا کلیک کن
                        می خوای خودرو تو بفروشی؟

                    </span>
                </div>
            </div>
        </div>

    </div>

    <!--end navigation-->

    <br>
    <!--porsesh haye motedavel-->
    <div class="container">

        <div class="row">

            <div class="col-12 accordion">


                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    در صورت عدم توافق در قیمت خودرو آیا میتوان از معامله منصرف شد؟
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                بله حتما به محض اینکه احساس کردید قیمت گذاری تراست خودرو منطقی نیست و یا کارشناسی خودرو
                                توسط شرکت های ایرتویا و نگین خودرو مطابق با استاندارد های تضمین شده و ... نیست می
                                توانید از روند خرید یا فروش انصراف دهید </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0 box-sid-header">
                                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    آیا در صورت امانت گذاشتن ماشینم در مرکز تراست خودرو هزینه پارکینک از من دریافت می
                                    شود؟

                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                خیر در صورتی که فروشنده واقعی باشید پس از عقد توافقنامه پارکینگ تراست خودرو به صورت
                                رایگان میزبان خودروی شما خواهد بود. </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    آیا پارکینگ تراست خودرو امنیت دارد؟
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                پارکینگ تراست خودرو جنب نمایشگاه ایرتویا و نگین خودرو می باشد و مجهز به نگهبانی 24
                                ساعته و دوربین های مدار بسته است که جای هیچ گونه نگرانی را برای شما باقی نمی گذارد.
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
    <!--end porsesh haye motedavel-->

</body>

</html>