<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درخواست فروش خودرو</title>
</head>

<body>
    <div class="wrapper">
        <div class="container main-poster">
            <div class="row">
                <div class="col-3">
                    <img src="../../img/sales.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <img src="../../img/sale-mukop.png" class="img-fluid " alt="Responsive image">
                </div>
            </div>
            <div class="main-poster-figure">
                <h4>
                    با تکمیل فرم زیر آگهی رایگان ثبت کنید
                </h4>
            </div>
        </div>
        <!--car info-->
        <div class="container border car-info">
            <div class="row">
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>برند مورد نظر را انتخاب کنید </option>
                        <option>تویوتا</option>
                        <option> لکسوس</option>
                        <option> رنو</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>مدل مورد نظر را انتخاب کنید </option>
                        <option>C-HR</option>
                        <option> PRIUS</option>
                        <option> PRADO</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>تیپ مورد نظر را انتخاب کنید </option>
                        <option>E3</option>
                        <option> ES</option>
                        <option> ML</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>سوخت </option>
                        <option> بنزین</option>
                        <option> هیبرید</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input class="form-control" type="text" placeholder=" کارکرد">
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>سال ساخت </option>
                        <option>2011</option>
                        <option> 2012</option>
                        <option> 2013</option>
                        <option> 2014</option>
                        <option> 2015</option>
                        <option> 2016</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>گیربکس </option>
                        <option>دنده ای</option>
                        <option> اتوماتیک</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input class="form-control" type="text" placeholder=" رنگ بدنه">
                </div>
                <div class="col-lg-4">
                    <select class="form-control">
                        <option>خودروی شما رنگ شدگی دارد؟ </option>
                        <option> دارد</option>
                        <option> ندارد</option>
                    </select>
                </div>
            </div>
            <div class="row textaria-file">
                <div class="col-lg-5">
                    <input class="form-control" type="text" placeholder=" قیمت پیشنهادی خود را وارد نمایید">
                    <form>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            <label for="exampleFormControlFile1">عکس خودرو را انتخاب کنید</label>
                        </div>
                    </form>
                </div>
                <div class="col-lg-7">
                    <textarea class="form-control" rows="6" id="validationTextarea" placeholder="توضیحات" required></textarea>
                </div>
            </div>
            <button type="button" class="btn">ثبت اطلاعات و ادامه</button>
        </div>
        <!--end car info-->
        <!--comment-->
        <div class="container slogan info-items-yasin">
            <h3>
                فروش آسان و سریع خودروی شما
            </h3>
                <ul><li><h5>پس از تکمیل فرم فوق و ثبت اطلاعات، کارشناسان ما اطلاعات خودروی شما را بررسی می کنند و
                    پس از
                    تایید، آگهی فروش خودروی شما بر روی سایت تراست خودرو به صورت کاملا رایگان نمایش می یابد
                </h5></li></ul>
                <ul><li><h5>شما می توانید فروش خودروی خود را به تراست خودرو بسپارید تا کارشناسان ما پس از رویت
                    خودروی
                    شما و ارزش گذاری و تعیین قیمت واقعی سریع و امن خودروی شما را به فروش برسانند
                </h5></li></ul>
        </div>
    <!--comment -->
    <!--navigation-->
    <div class="container my-2 work-list">
            <div class="row">
                <div class="col-md-4">
                    <div class="media border rounded">
                        <div class="media-left media-middle">
                            <img src="../../img/dashboardRegister/02.png" class="media-object">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">سفارش خودرو</h4>
                            <p>خودرویی که می خوای رو پیدا نمیکنی
                                همین حالا مشخصاتشو ثبت کن تا
                                ما بارت پیداش کنیم
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="media border rounded">
                            <div class="media-left media-middle">
                                <img src="../../img/dashboardRegister/1.png" class="media-object">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">جستجوی خودروی کارکرده</h4>
                                <p>اکه می خوای خودروی سالم و استاندارد 
                                    پیدا کنی و خرید امنی داشته باشی
                                    همین حالا جستجو کن
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="media border rounded">
                                <div class="media-left media-middle">
                                    <img src="../../img/dashboardRegister/03.png" class="media-object">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">ارتباط با کارشناسان ما</h4>
                                    <p>نیاز به کمک داری و دوست داری با یه 
                                        کارشناس خبره کشورت ککنی پس 
                                        همین حالا کلیک کن
                                    </p>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    <!--end navigation-->
    <!--porsesh haye motedavel-->
        <div class="container q-common">
            <h4>سوالات متداول</h4>
            <div class="row">
                <div class="col-lg-6 q-common-items" data-target="#collapse1" data-toggle="collapse">
                    <div class="q-common-item rounded border">
                        <h5>چطوری ماشین بخرم</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse1">
                        متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی
                    </h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse2">
                    <div class="q-common-item rounded border">
                        <h5>آیا می توانم یک گیشنهاد برای ماشبنم را آنلاین دریافت کنم؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse2">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse3">
                    <div class="q-common-item rounded border">
                        <h5>چگونه می توانم هرینه ماشین خود پرداخت کنم؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse3">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse4">
                    <div class="q-common-item rounded border">
                        <h5>آیا اتوموبیل های اجاره ای را خریداری می کنید؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse4">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse5">
                    <div class="q-common-item rounded border">
                        <h5>هزینه کارشناسی اجاره ای را خریداری می کنید؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse5">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse6">
                    <div class="q-common-item rounded border">
                        <h5>اگه پس از خرید خودرو متوجه شدم ایرادی در خودرو وجود دارد چه کنم؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse6">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse7">
                    <div class="q-common-item rounded border">
                        <h5>خرید به صورت اقساط به چه صورت می باشد؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse7">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse8">
                    <div class="q-common-item rounded border">
                        <h5>چگونه می توانم خودروی خود را به تراست خودرو بفروشم؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse8">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse9">
                    <div class="q-common-item rounded border">
                        <h5>هزینه کارشناسی چه زمانی اخذ میشه؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse9">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
                <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse10">
                    <div class="q-common-item rounded border">
                        <h5>چطوری ماشینمو به تراست خودرو بسپارم کخ برام بفروشه؟</h5>
                        <h4>+</h4>
                    </div>
                    <h5 class="collapse" id="collapse10">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                        تستی متن تستی متن تستی متن تستی</h5>
                </div>
            </div>
        </div>

    </div>
    <!--end porsesh haye motedavel-->
</body>

</html> 
