<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>درخواست فروش خودرو</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/stylesheet.css">

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body dir="rtl" class="homa">

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-3">

            <img src="images/sales.png" class="img-fluid "  alt="Responsive image" style="max-width:100%;height: auto;" >
        </div>
        <div class="col-6">

            <img src="images/sale-mukop.png" class="img-fluid "  alt="Responsive image" style="max-width:100%;height: auto;" >

        </div>
        <div class="w-100">

        </div>
        <div class="col" style="margin-top: 10px;">

            <h4 >
                با تکمیل فرم زیر آگهی رایگان ثبت کنید
            </h4>

        </div>

    </div>
</div>


<!--car info-->
<div class="container border" style="background: #eeeeee;">

<BR>

    <div class="row ">
        <div class="col">

            <select class="form-control">
                <option>برند مورد نظر را انتخاب کنید </option>
                <option>تویوتا</option>
                <option> لکسوس</option>
                <option> رنو</option>

            </select>

        </div>

        <div class="col">


            <select class="form-control">
                <option>مدل مورد نظر را انتخاب کنید </option>

                <option>C-HR</option>
                <option> PRIUS</option>
                <option> PRADO</option>

            </select>



        </div>

        <div class="col">


            <select class="form-control">
                <option>تیپ مورد نظر را انتخاب کنید </option>
                <option>E3</option>
                <option> ES</option>
                <option> ML</option>
            </select>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col">

            <select class="form-control">
                <option>سوخت </option>
                <option> بنزین</option>
                <option> هیبرید</option>
            </select>



        </div>

        <div class="col">


            <input class="form-control" type="text" placeholder=" کارکرد">


        </div>

        <div class="col">


            <select class="form-control">
                <option>سال ساخت </option>
                <option>2011</option>
                <option> 2012</option>
                <option> 2013</option>
                <option> 2014</option>
                <option> 2015</option>
                <option> 2016</option>
            </select>


        </div>

    </div>

    <br>

    <div class="row ">
        <div class="col">

            <select class="form-control">
                <option>گیربکس </option>
                <option>دنده ای</option>
                <option> اتوماتیک</option>
            </select>


        </div>

        <div class="col">


            <input class="form-control" type="text" placeholder=" رنگ بدنه">



        </div>

        <div class="col">


            <select class="form-control">
                <option>خودروی شما رنگ شدگی دارد؟ </option>
                <option> دارد</option>
                <option> ندارد</option>
            </select>


        </div>

    </div>
    <br>


    <div class="row">

        <div class="col-4">


            <input class="form-control" type="text" placeholder=" قیمت پیشنهادی خود را وارد نمایید">




        </div>

        <div class="col-8">


            <textarea class="form-control" id="validationTextarea" placeholder="توضیحات" required></textarea>


        </div>


    </div>
    <div class="row">

       <div class="col-4">
           <form>
               <div class="form-group">
                   <label for="exampleFormControlFile1">عکس خودرو را انتخاب کنید</label>
                   <input type="file" class="form-control-file" id="exampleFormControlFile1">
               </div>
           </form>

       </div>
    </div>
    <br>
    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-info">ثبت اطلاعات و ادامه</button>

        </div>

    </div>
    <br>
</div>
<!--end car info-->
<br>

<!--comment-->
<div class="container-fluid" style="background-color: #eee;padding: 10px;">
    <div class="container">
<div class="row">
    <div class="col-10">
        <h3>
            فروش آسان و سریع خودروی شما
        </h3>
    </div>
</div>

        <div class="row">


          <div class="col-lg">

              <ul style="list-style:inside">
                  <li>
                      پس از تکمیل فرم فوق و ثبت اطلاعات، کارشناسان ما اطلاعات خودروی شما را بررسی  می کنند و پس از  تایید، آگهی فروش خودروی شما بر روی سایت تراست خودرو به صورت کاملا رایگان نمایش می یابد

                  </li>

              </ul>
          </div>
            <div class="col-lg">

              <ul style="list-style:inside">
                  <li>
                      شما می توانید فروش خودروی خود را به تراست خودرو بسپارید تا کارشناسان ما پس از رویت خودروی شما و ارزش گذاری و تعیین قیمت واقعی سریع و امن خودروی شما را به فروش برسانند

                  </li>

              </ul>
          </div>

        </div>
    </div>



</div>
<!--comment -->
<br>


<!--navigation-->

<div class="container">

    <div class="row ">
        <div class="col-lg access">
            <div class="fontmd col-12 text-justify">
                <span class="access-icon" style="background-position: -7px -30px"></span>
                <span>
                          ثبت آگهی رایگان

            </span>
                <span>
                            اطلاعات خودرو تو ثبت کن تا برای فروش در این سایت نمایش داده بشه

            </span>
            </div>
        </div>
        <div class="col-lg access">
            <div class="fontmd col-12 text-justify ">
                <span class="access-icon" style="background-position: -105px -30px "></span>
                <span>
                     سفارش خودرو
            </span>
                <span class="">
                           خودرویی که میخوای و پیدا نمی کنی همین حالا مشخصاتش رو ثبت کن تا ما برات پیداش کنیم

            </span>
            </div>
        </div>
        <div class="col-lg access">
            <div class="fontmd col-12 text-justify ">
                <span class="access-icon" style="background-position: -780px -30px "></span>
                <span>
                          مشاوره تخصصی رایگان

            </span>
                <span>
                           نیاز به کمک داری و دوست داری با یه کارشناس خبره مشورت کنی پس همین حالا کلیک کن
می خوای خودرو تو بفروشی؟

            </span>
            </div>
        </div>
    </div>

</div>

<!--end navigation-->

<br>
<!--porsesh haye motedavel-->
<div class="container">

    <div class="row">

<div class="col-12 accordion">


    <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    در صورت عدم توافق در قیمت خودرو آیا میتوان از معامله منصرف شد؟
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                بله حتما به محض اینکه احساس کردید قیمت گذاری تراست خودرو منطقی نیست و یا کارشناسی خودرو توسط شرکت های ایرتویا و نگین خودرو مطابق با استاندارد های تضمین شده و ... نیست می توانید از روند خرید یا فروش انصراف دهید             </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0 box-sid-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    آیا در صورت امانت گذاشتن ماشینم در مرکز تراست خودرو هزینه پارکینک از من دریافت می شود؟

                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                خیر در صورتی که فروشنده واقعی باشید پس از عقد توافقنامه پارکینگ تراست خودرو به صورت رایگان میزبان خودروی شما خواهد بود.              </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    آیا پارکینگ تراست خودرو امنیت دارد؟
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                پارکینگ تراست خودرو جنب نمایشگاه ایرتویا و نگین خودرو می باشد و مجهز به نگهبانی 24 ساعته و دوربین های مدار بسته است که جای هیچ گونه نگرانی را برای شما باقی نمی گذارد.            </div>
        </div>

</div>
    </div>


    </div>


</div>
</div>
<!--end porsesh haye motedavel-->

<script src="js/jquery-3.4.0.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>
</html>