<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
        <div class="wrapper container-fluid">
                    <div class="row">
                        <div class="card border shadow login-main col-4">
                            <img src="../../img/details/logo.jpg" alt="logo">
                            <div class="card-body">
                                <h4>ثبت نام در تراست خودرو</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="نام"/>
                                    </div>
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="نام خانوادگی"/>
                                    </div>
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="کلمه عبور"/>
                                    </div>
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="تکرار کلمه عبور"/>
                                    </div>
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="کد ملی"/>
                                    </div>
                                    <div class="col-6">
                                            <input type="text" class="form-control" value="شماره مبایل"/>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> قوانین و مقررات مربوط به خرید و فروش خودرو های دست دوم تراست خودرو را مطالعه کرده و می پذیرم</label>
                                </div>
                                <div class="submit">
                                    <h4>ثبت نام در تراست خودرو</h4>
                                    <div class="user-plus">
                                        <img src="../../img/details/user-plus-solid.svg" alt="user-plus">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
</body>
</html>