<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
</head>

<body>
<div class="wrapper">
    <div class="container request">
        <div class="row">
            <div class="col-lg-9 gallery-item">
                <h4>رنو اسکالا/تیپ E4</h4>
                <div class="card border-0">
                    <img class="card-img-top request-img" src="../../img/order/1271.jpg" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-6">
                                <p>وضعیت</p>
                                <p>مالکیت</p>
                                <p>سال ساخت</p>
                                <p>گیربکس</p>
                                <p>سوخت</p>
                                <p>رنگ بدنه</p>
                                <p>کارکرد</p>
                                <p>دیفرانسیل</p>
                            </div>
                            <div class="col-lg-3 col-6">
                                <h5>در انتظار فروش</h5>
                                <h5>امانی</h5>
                                <h5>2016</h5>
                                <h5>اتوماتیک</h5>
                                <h5>بنزین</h5>
                                <h5>قهوهای متالیک</h5>
                                <h5>30،000 &#160; (کیلومتر)</h5>
                                <h5>تک دیفرانسیل</h5>
                            </div>
                            <div class="col-lg-7">
                                <div class="rounded-icons">
                                    <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                                        <img src="../../img/order/icons/heart.png" alt=""></div>
                                    <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                                        <img src="../../img/order/icons/share.png" alt=""></div>
                                    <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                                        <img src="../../img/order/icons/compare.png" alt=""></div>
                                </div>
                                <div class="purchase-request">
                                    <p>قیمت:</p>
                                    <h4>250،000،000 &#160;تومان</h4>
                                    <a href="#" class="click-request">
                                        <h3>درخواست خرید</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gallery">
                <div class="scroll-h">
                    <div class="gallery-img card-img-top">
                        <img src="../../img/order/1264.jpg" alt="">
                    </div>
                    <div class="gallery-img card-img-top">
                        <img src="../../img/order/128.jpg" alt="">
                    </div>
                    <div class="gallery-img card-img-top">
                        <img src="../../img/order/1419.jpg" alt="">
                    </div>
                    <div class="gallery-img card-img-top">
                        <img src="../../img/order/143.jpg" alt="">
                    </div>
                    <div class="gallery-img card-img-top">
                        <img src="../../img/order/1417.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container license">
        <div class="border">
            <p>دارای گواهی نامه تایید سلامت فنی و بدنه </p>
        </div>
        <div class="border">
            <p>دارای گارانتی بازگشت خودرو</p>
        </div>
    </div>
    <div class="container mt-2" style="background-color:rgb(255,244,0); padding: 10px;">
        <h5>این سایت هیچ گومه مسئولیت و منفعتی در قبال اگاهی های رایگان شخصی ندارد ، لطفا قبل از انجام هر گونه
            معامله ، از سلامت ،اصالت و صحت اسناد قانونس خودرو اطمینان لازم را حاصل فرمایید</h5>
    </div>
    <div class="container p-0">
        <div class="card details-1 rounded-0 w-100 mt-2">
            <div class="card-footer rounded-0 border-0 p-0">
                <h3>آپشن های خودرو</h3>
            </div>
            <div class="card-body rounded-0 p-1">
                <div class="row">
                    <div class="col-md detail-item">
                        <h6>دوربین عقب</h6>
                        <h6>روکش چرمی فرمان</h6>
                        <h6>رینگ آلمینیومی</h6>
                        <h6>سیستم abs</h6>
                        <h6>سیستم تهویه مطبوع سه ناحیه ای</h6>
                        <h6>سیستم صوتی ساده کمپانی</h6>
                        <h6>شیشه بالا بر های عقب برقی</h6>
                        <h6>صندلی با روکش پپارچه ای </h6>
                        <h6>صندلی با روکش پپارچه ای </h6>
                        <h6>کنسول وسط</h6>
                        <h6>دوربین عقب</h6>
                        <h6>روکش چرمی فرمان</h6>
                        <h6>رینگ آلمینیومی</h6>
                        <h6>سیستم abs</h6>
                        <h6>سیستم تهویه مطبوع سه ناحیه ای</h6>
                        <h6>سیستم صوتی ساده کمپانی</h6>
                        <h6>شیشه بالا بر های عقب برقی</h6>
                        <h6>صندلی با روکش پپارچه ای </h6>
                        <h6>صندلی با روکش پپارچه ای </h6>
                        <h6>کنسول وسط</h6>
                        <a href="#">دریافت اطلاعات بیشتر در مورداین خودرو</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="card details-2 rounded-0 w-100 mt-2">
            <div class="card-footer rounded-0 border-0 p-0">
                <h3>وضعیت بدنه خودرو</h3>
            </div>
            <div class="card-body rounded-0 p-1">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>رنگ شدگی</h5>
                        <div class="col-lg">
                            <h5>گلگیر جلو چپ</h5>
                            <h5>درب عقب چپ</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>تعویض شدگی</h5>
                        <div class="col-lg px-4">
                            <h5>ندارد</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="card details-3 rounded-0 w-100 mt-2">
            <div class="card-footer rounded-0 border-0 p-0">
                <h3>کارشناسی</h3>
            </div>
            <div class="card-body rounded-0 p-1 details-n-2">
                <h5>خودروی کاشناسی شده از لحاظ بدنه سالم میباشد .در تست فنی و مشکل باتری و سنسور اکسیژن مشاهده شد
                </h5>
                <div class="row">
                    <div class="col-lg detail-item-2">
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                        <h5>لاستیک جلو شمت راننده:<span>&#160;&#160;%70</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 work-list">
        <div class="row">
            <div class="col-md-4">
                <div class="media border rounded">
                    <div class="media-left media-middle">
                        <img src="../../img/order/icons/01.png" class="media-object">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">ثبت اگهی رایگان</h4>
                        <p>می خوای خودرو تو بفروشی؟اطلاعات خودرو تو ثبت کن تا برای فروش در این سایت نمایش داده بشه
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media border rounded">
                    <div class="media-left media-middle">
                        <img src="../../img/order/icons/02.png" class="media-object">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">سفارش خودرو</h4>
                        <p>خودرویی مه می خوای و پیدا نمی کنی؟ همین حالا مشخصاتش رو ثبت کن تا ما برات پیداش کنیم</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media border rounded">
                    <div class="media-left media-middle">
                        <img src="../../img/order/icons/03.png" class="media-object">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">ارتباط با کارشناسان ما</h4>
                        <p>نیاز به کمک داری و دوست داری با یه کارشناس خبره مشورت کنی پس همین حالا کلیک کن</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container linked-cars p-3">
        <div class="d-flex car-list rounded-sm bg-white  justify-content-between align-items-center px-3">
            <h4>خودرو های مرتبط</h4>
            <a href="#">لیست کامل</a>
        </div>
        <div class="row-compulsory">
            <div class="card bg-white">
                <h4>تویوتا کرولا/ تیپ XLI</h4>
                <img src="../../img/order/128.jpg"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rounded-icon rounded-circle shadow-sm"></div>
                        <h4>250،000،000 &#160;تومان</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>کارکرد:96،000 کیلومتر</h5>
                        <h5>سال ساخت:2013</h5>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <h4>تویوتا کرولا/ تیپ XLI</h4>
                <img src="../../img/order/128.jpg"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rounded-icon rounded-circle shadow-sm"></div>
                        <h4>250،000،000 &#160;تومان</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>کارکرد:96،000 کیلومتر</h5>
                        <h5>سال ساخت:2013</h5>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <h4>تویوتا کرولا/ تیپ XLI</h4>
                <img src="../../img/order/128.jpg"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                            <img src="../../img/order/icons/heart.png" alt="heart"></div>
                        <h4>250،000،000 &#160;تومان</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>کارکرد:96،000 کیلومتر</h5>
                        <h5>سال ساخت:2013</h5>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <h4>تویوتا کرولا/ تیپ XLI</h4>
                <img src="../../img/order/128.jpg"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                            <img src="../../img/order/icons/heart.png" alt="heart"></div>
                        <h4>250،000،000 &#160;تومان</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>کارکرد:96،000 کیلومتر</h5>
                        <h5>سال ساخت:2013</h5>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <h4>تویوتا کرولا/ تیپ XLI</h4>
                <img src="../../img/order/128.jpg"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rounded-icon rounded-circle shadow-sm d-flex justify-content-center align-items-center">
                            <img src="../../img/order/icons/heart.png" alt="heart"></div>
                        <h4>250،000،000 &#160;تومان</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>کارکرد:96،000 کیلومتر</h5>
                        <h5>سال ساخت:2013</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container q-common">
        <h4>سوالات متداول</h4>
        <div class="row">
            <div class="col-lg-6 q-common-items" data-target="#collapse1" data-toggle="collapse">
                <div class="q-common-item rounded border">
                    <h5>چطوری ماشین بخرم</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse1">
                    متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی
                </h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse2">
                <div class="q-common-item rounded border">
                    <h5>آیا می توانم یک گیشنهاد برای ماشبنم را آنلاین دریافت کنم؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse2">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse3">
                <div class="q-common-item rounded border">
                    <h5>چگونه می توانم هرینه ماشین خود پرداخت کنم؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse3">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse4">
                <div class="q-common-item rounded border">
                    <h5>آیا اتوموبیل های اجاره ای را خریداری می کنید؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse4">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse5">
                <div class="q-common-item rounded border">
                    <h5>هزینه کارشناسی اجاره ای را خریداری می کنید؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse5">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse6">
                <div class="q-common-item rounded border">
                    <h5>اگه پس از خرید خودرو متوجه شدم ایرادی در خودرو وجود دارد چه کنم؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse6">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse7">
                <div class="q-common-item rounded border">
                    <h5>خرید به صورت اقساط به چه صورت می باشد؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse7">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse8">
                <div class="q-common-item rounded border">
                    <h5>چگونه می توانم خودروی خود را به تراست خودرو بفروشم؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse8">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse9">
                <div class="q-common-item rounded border">
                    <h5>هزینه کارشناسی چه زمانی اخذ میشه؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse9">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
            <div class="col-lg-6 q-common-items" data-toggle="collapse" data-target="#collapse10">
                <div class="q-common-item rounded border">
                    <h5>چطوری ماشینمو به تراست خودرو بسپارم کخ برام بفروشه؟</h5>
                    <h4>+</h4>
                </div>
                <h5 class="collapse" id="collapse10">متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن تستی متن
                    تستی متن تستی متن تستی متن تستی</h5>
            </div>
        </div>
    </div>
</div>
</body>

</html>
