<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-9 gallery-item">
                    <h4>رنو اسکالا/تیپ E4</h4>
                    <div class="card border-0">
                            <img class="car-img-top" src="http://via.placeholder.com/840x609" alt="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <p>وضعیت</p>
                                    <p>مالکیت</p>
                                    <p>سال ساخت</p>
                                    <p>گیربکس</p>
                                    <p>سوخت</p>
                                    <p>رنگ بدنه</p>
                                    <p>کارکرد</p>
                                    <p>دیفرانسیل</p>
                                </div>
                                <div class="col-3">
                                    <h5>در انتظار فروش</h5>
                                    <h5>امانی</h5>
                                    <h5>2016</h5>
                                    <h5>اتوماتیک</h5>
                                    <h5>بنزین</h5>
                                    <h5>قهوهای متالیک</h5>
                                    <h5>30،000 &#160; (کیلومتر)</h5>
                                    <h5>تک دیفرانسیل</h5>
                                </div>
                                <div class="col-7">
                                    <div class="rounded-icons">
                                        <div class="rounded-icon rounded-circle shadow-sm"></div>
                                        <div class="rounded-icon rounded-circle shadow-sm"></div>
                                        <div class="rounded-icon rounded-circle shadow-sm"></div>
                                    </div>
                                    <div class="purchase-request">
                                        <p>قیمت:</p>
                                        <h4>250،000،000 &#160;تومان</h4>
                                        <a href="#" class="click-request"><h3>درخواست خرید</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 gallery">
                        <div class="gallery-img">
                            <img src="https://via.placeholder.com/236x183" alt="">
                        </div>
                        <div class="gallery-img">
                            <img src="https://via.placeholder.com/236x183" alt="">
                        </div>
                        <div class="gallery-img">
                            <img src="https://via.placeholder.com/236x183" alt="">
                        </div>
                        <div class="gallery-img">
                            <img src="https://via.placeholder.com/236x183" alt="">
                        </div>
                        <div class="gallery-img">
                            <img src="https://via.placeholder.com/236x183" alt="">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>