@import 'all-import';
.content-main{
    background-color: $secondary;
    height: 3.1875rem;
    .content{
        height: 2rem;
        // width: 75rem;
        margin: .5rem auto;
            h5{
                margin: 0;
                display: flex;
                align-items: flex-end;
            }
    }
    .red-lit-bar{
        background-color: $primary;
        height: 13px;
    }
}
.red-md-bar{
    box-shadow: inset 0px 0rem 0rem 4px rgba(0, 0, 0, 1);
    h6{
        width: 100%;
        background-color: $primary;
        text-align: end;
        color: white;
        padding: .68rem;
        margin: 0 !important;
        &:nth-child(1){
            text-align: start;
        }
        &:nth-child(3){
            img{
                width:7%;
            }
        }
        &:nth-child(1){
            img{
                width:3%;
            }
        }
        &:nth-child(2){
            img{
                width:13%;
            }
        }
    }

}
.bar-fixer{
    width:100%;
    box-shadow: inset 0px -13px 0px 0px red;
    background-color: $secondary;
}
.msale-expert{
    margin-top: 25px;
    .sale-expert{
        width: 95%;
        p{
            color: $text-primary;
            text-align: justify;
        }
        .card{
            background-color: $secondary;
            margin: 0 7px;
            height: 300px;
            width: 290px;
            color: $text-primary;
            text-align: right;
            padding: .8rem .5rem;
            .card-body{
                padding: 0;
            }
        }
    }
    .red-lg-bar{
        background-color: $primary;
        width: 26px;
        height: 356px;
    }
}
    .big-images{
        border: 1px solid $line-primary;
        padding: 12px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .gallery-2{
        position: relative;
        border: 1px solid $line-primary;
        padding: 24px;
        margin-top: 3.35rem;
        .gallery-img{
            border: 1px solid $line-primary;
            padding: 12px;
            padding-top: 11px;
            padding-bottom: 23px;
            margin: 17px 20.5px;
            height: (171px + 35.96px);
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            position: absolute;
            top: -1.4rem;
            background: white;
        }
        .page-link{
                padding: 2px 8px;
        }
        .page-item.active .page-link{
            background-color: $primary;
            color: $secondary;
        }
        .page-item .page-link{
            color: $text-primary;
            img{
                width: 12px;
                line-height: 10px;
            }
        }
    }
}
.gallery-1{
    border: 1px solid $line-primary;
    margin: 1rem auto !important;
    padding: 15px 0;
    width: 95%;
    img{
        width: 364px;
        height: 273px;
        padding: 0 12px !important;
    }
}
.gallery-1-caption{
    width: 95%;
    margin: 0 auto !important;
    .col-md-4{
        img{
            margin-left:10px;
        }
        h4{
            color: $primary;
        }
    }
}
@media screen and (max-width: 1090px){
    .bar-fixer{
        box-shadow: none;
    }
    .container{
        margin: 0 !important;
        max-width:100% !important;
        width: 100%;
    }
    .content{
        h5{
            font-size: 14px;
        }
}
.red-lg-bar{
    display: none;
}
}
@media screen and(max-width: 990px){
    .msale-expert{
        .sale-expert{
            .card{
                height: auto;
            }
        }
    }
}
@media screen and (max-width: 621px){
    .red-md-bar{
        h6{
            font-size: 12px;
        }
    }
    .content{
            h5{
                font-size: 12px;
            }
    }
}
@media screen and (max-width: 576px){
    .msale-expert{
        .sale-expert{
                display: flex;
                justify-content: center;
        }
    }
}
@media screen and (max-width: 500px){
    .red-md-bar{
        h6{
            font-size: 8px;
            img{
                width: 12px !important;
                white-space: nowrap;
            }
        }
        h6:nth-child(2){
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .content{
        h5{
            font-size: 8px;
            img{
                width: 20px;
            }
        }
}
}