@import 'all-import';
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}
#{headings(1,6)},p {
    text-align: justify;
    color: $text-primary;
    letter-spacing: -.5px;
}
.fade-out {
    animation: fadeOut .7s cubic-bezier(0.4, 0.0, 0.2, .7) ;
  }  
  .fade-in {
    animation: fadeIn .7s cubic-bezier(0.4, 0.0, 0.2, 1) ;
  }
  @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} 
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  } 
.container-fluid{
    height: 320px;
    .img-main{
        background: url('https://via.placeholder.com/1920x320') center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}
.content-main{
    background-color: $secondary;
    height: 3.1875rem;
    .content{
        height: 2rem;
        // width: 75rem;
        margin: .5rem auto;
            h5{
                margin:0;
                a{
                height: 100%;
                margin: 0;
                display: flex;
                align-items: flex-end;
                color: $text-primary !important;
                }
            }
    }
    .red-lit-bar{
        background-color: $primary;
        height: 13px;
    }
}
.red-md-bar{
    box-shadow: inset 0px 0rem 0rem 4px rgba(0, 0, 0, 1);
    #{headings(1,6)},p {
        font-size: 20px;
        line-height: 20px;
    }
    h6{
        width: 100%;
        padding: .378rem;
        margin: 0 !important;
        background-color: $primary;
        a{
            display: block;
            width: 100% !important;
            height: 100%;
            text-align: end;
            color: white !important;

        }
        &:nth-child(1){
            a{
                text-align: justify;
            }
        }
        &:nth-child(3){
            img{
                width:7%;
            }
        }
        &:nth-child(1){
            img{
                width:3%;
            }
        }
        &:nth-child(2){
            img{
                width:13%;
            }
        }
    }

}
.bar-fixer{
    width:100%;
    box-shadow: inset 0px -13px 0px 0px red;
    background-color: $secondary;
}
.container{
    flex-direction: column;
    .msale-expert{
        margin-top: 25px;
        .sale-expert{
            border-left:26px solid $primary;
            border-right:26px solid $primary;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center; 
            height: 310px;
            margin: 0;
            p{
                color: $text-primary;
                text-align: justify;
                line-height: 35px;
            }
            .card{
                background-color: $secondary;
                margin: 0 7px;
                color: $text-primary;
                text-align: right;
                padding: .8rem .5rem;
                .card-body{
                    padding: 0;
                }
            }
        }
        .col-lg-6{
            height: 310px;
        }
    }
    .big-images{
        border: 1px solid $line-primary;
        padding: 12px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .gallery-2{
        position: relative;
        border: 1px solid $line-primary;
        padding: 24px;
        margin-top: 3.35rem;
        .pages{
            .page-n{
                &:nth-child(n+2){
                    display: none;
                }
                .row{
                    .gallery-img{
                        border: 1px solid $line-primary;
                        padding: 12px;
                        padding-top: 11px;
                        padding-bottom: 23px;
                        margin: 17px 20.5px;
                        height: (171px + 35.96px);
                        transition:.3s cubic-bezier(0.4, 0.0, 0.2, 1);
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        &:hover{
                            border-bottom: 3px solid $primary;
                            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                            transition:.3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            transition-property: box-shadow transform;
                            transform: translateZ(1rem);
                        }
                    }
                }
            }
        }
        h3{
            position: absolute;
            top: -1.4rem;
            background: white;
        }
        .page-link{
                padding: 2px 8px;
        }
        .page-item.active .page-link{
            background-color: $primary;
            color: $secondary;
        }
        .page-item .page-link{
            color: $text-primary;
            img{
                width: 12px;
                line-height: 10px;
            }
        }
    }
}
.gallery-1-caption{
    border: 1px solid $line-primary;
    margin: 1rem auto !important;
    padding: 15px 0;
    .col-md-4{
        div{
            padding: 15px 0;
            width: 100%;
            height: 273px;
            background-repeat: no-repeat !important;
            background-position: 2.2rem 4rem !important;
        }
        img[alt="car-img"]{
            padding: 15px 0;
            width: 100%;
            height: 273px;
        }
        img[alt="checkmark"]{
            margin-left:10px;
        }
        h4{
            color: $primary;
            height: 15%;
            font-size: 22px;
        }
        p{
            line-height: 25px;
        }
    }
}
@media screen and (max-width:1200px){
    .msale-expert{
        .sale-expert{
            height: 270px !important;
            .col-lg-6{
                p{
                    line-height: 25px !important;
                }
                font-size: 14px;
                height: 270px;
            }
        }
    }
}
@media screen and (max-width: 1090px){
    .bar-fixer{
        box-shadow: none;
    }
    .container{
        margin: 0 !important;
        max-width:100% !important;
        width: 100%;
    }
    .content{
        h5{
            font-size: 14px;
        }
}
.msale-expert{
    .sale-expert{
        border: none !important;
        height: auto !important;
        .col-lg-6{
            p{
                line-height: 25px !important;
            }
            font-size: 16px;
            height: auto !important;
        }
    }
}
}
@media screen and(max-width: 991px){
    .msale-expert{
        .sale-expert{
            .card{
                height: auto;
                margin-bottom: 20px !important;
                &:nth-child(1){
                    margin-right:auto;
                }
                &:nth-child(2){
                    margin-left: auto;
                }
            }
        }
    }
}
@media screen and(max-width: 844px){
    .container{
        .gallery-1{
            img{
                margin: 12px auto;
            }
        }
    }
    .red-md-bar{
        #{headings(1,6)},p {
            font-size: 16px;
            line-height: 20px !important;
        }
    }
}
@media screen and (max-width: 767px){
    .gallery-1-caption{
        p{
            padding-bottom: 20px !important;
        }
    }
}
@media screen and (max-width: 621px){
    .red-md-bar{
        h6{
            font-size: 12px;
        }
    }
    .content{
            h5{
                font-size: 12px;
            }
    }
}
@media screen and (max-width: 576px){
    .msale-expert{
        .sale-expert{
                display: flex;
                justify-content: center;
                .card{
                    margin: 4px 0 !important;
                }
        }
    }
}
@media screen and (max-width: 500px){
    .red-md-bar{
        h6{
            font-size: 8px;
            img{
                width: 12px !important;
                white-space: nowrap;
            }
        }
        h6:nth-child(2){
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .content{
        h5{
            font-size: 8px;
            img{
                width: 20px;
            }
        }
}
}