@import 'all-import';
@mixin med ($max-w , $min-w){
        @media screen and (max-width: $max-w) and (min-width: $min-w){
            @content;
        }
}
@mixin medx ($max-w) {
    @media screen and (max-width: $max-w){
        @content;
    }
}
@mixin details($n) {
        .container .card.details-#{$n}{
            padding: 6px 22px;
            .card-footer{
                background-color: $secondary !important;
                h3{
                    text-align: center;
                }
        }
        .card-body{
            .row{
                @content;
            }
        }
    }
}
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}
#{headings(1,6)},p {
    text-align: justify;
    color: $text-primary;
    letter-spacing: -.5px;
    line-height: 30px;
}
a{
    color: $text-primary;
    &:hover{
        color: $text-primary;
    }
}
.card{
    border-color: $line-primary !important;
}
.rounded-icon{
    cursor: pointer;
    margin: 6.5px;
    width: 40px;
    height: 40px;
}
.wrapper{
    margin: 36px 0;
    .request.container {
        margin-bottom: 11px;
        .row{
            background-color: $secondary;
            padding: 13px 0 19px;
            .gallery{
                padding:0 38px 0 26px!important;
                border-right: 1px solid white;
                .scroll-h{
                    .gallery-img{
                        margin-bottom: 15px;
                        &:first-child{
                            margin-top: 4px;
                        }
                        &:last-child{
                            margin-bottom:4px; 
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .gallery-item{
                margin-top: 16px;
                padding:0 29px 0 25px!important;
                h4{
                    text-align: right;
                    color: $primary;
                }
                .card{
                    background-color: unset !important;
                    width: 100%;
                    .card-body{
                        background-color:$secondary;
                        padding: 1rem;
                        padding-top: 13px;
                        .row{
                            padding: 1.25rem .815rem;
                            background-color: white;
                            .col-lg-2{
                                P{
                                    margin-bottom: 8px;;
                                }                            
                            }
                            .col-lg-7{
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                align-items: flex-end;
                                .rounded-icons{
                                    display: flex;
                                    justify-content: flex-end;
                                }
                                .purchase-request{
                                    p{
                                        margin: 0;
                                    }
                                    .click-request{
                                        display:block;
                                        padding: .785rem 3.95rem;
                                        background-color: $primary;
                                        &:hover{
                                            text-decoration: none;
                                        }
                                        h3{
                                            color: white;
                                            margin: 0;
                                        }
                                    }
                                }
                            }                        
                        }
                    }
                }
            }
        }
    }
    .license.container{
        padding-right: 0;
        display: flex;
            .border{
                font-size: 15px;
                width: 36%;
                &:last-child{
                    margin-right: 20px;
                }
                p{
                    margin:15px 20px;
                }
            }
    }
    @include details(1){
        .col-md{
            &:not(:last-child){    
                border-left: 1px solid $line-primary;
            }
            a{
                font-size: 13px;
                color: $text-primary;
            }
        }
    }
    @include details(2){
        .col-lg-6{
            &:nth-child(1){
                padding: 0 .7rem 0 0;
                .col-lg{
                    border-left: 1px solid $line-primary;
                }
            }
            &:nth-child(2){
                padding: 0 0 0 .7rem;
            }
            >h5{
                border-bottom: 1px solid $line-primary;
                text-align: center;
            }
        }
    }
    @include details(3){

    }
    .container.linked-cars{
        background-color: $secondary;
        .car-list{
            margin: 0 1px;
        }
        .row{
            margin: 5px 1px;
            .card{
                border: 1px solid;
                &:not(:last-child){
                    margin-left: 10px;
                }
                >h4{
                    margin: 15px 0 !important;
                }
                img{
                    height: 257px;
                }
                .card-body{
                    padding: 0 8px;
                    h4{
                        color: $primary;
                    }
                }
            }
        }
    }
    .container.q-common{
        background-color: $secondary;
        >h5{
            margin-right: 62px;
        }
        .col-lg-6{
            padding: 12px 12px 7.5px 12px;
            .d-flex{
                padding:0 20px;
            }
            span{
                font-size: 36px;
                margin-bottom: 10px;
            }
        }
    }
    .container.work-list{
        .row{
            .col-md-4{
                padding: 0 .5rem;
                &:first-child{
                    padding-right: 0;
                }
                &:last-child{
                    padding-left: 0;
                }
                .media{
                    height: 100%;
                    background-color: $secondary;
                    padding: 18px 14px;
                    p{
                        font-size: 1.188rem;
                    }
                    .media-middle{
                        margin-left: .9rem;
                        align-self: center;
                    }
                }
            }
        }
    }
}
    @include details(2){
        .col-lg-6{
            &:nth-child(1){
                .col-lg{
                    border: 0 !important;
                }
            }
            >h5{
                border: 0;
            }
        }
    }
@include medx (1200px){
    .container{
        max-width: 100%;
    }
    .container.work-list{
        .row{
            .col-md-4{
                padding: 8px;
                .media{
                    .media-body{
                        .media-heading{
                            font-variant-caps:all-petite-caps;
                        }   
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@include medx (992px){
    .gallery{
        .scroll-h{
            display: flex;
            overflow: hidden;
                .gallery-img{
                    margin-right: 3px;
                    margin-bottom: 0 !important;
                    img{
                        width: auto !important;
                        height: 185px;
                    }
                    &:first-child{
                        margin-top:0 !important;
                        margin-right: 0;
                }
            }
        }
    }
    .gallery-item{
        .card{
            .card-body{
                .row{
                    .col-lg-2 , .col-lg-3{
                        padding: 0;
                    }
                    .col-lg-7{
                        .rounded-icons{
                            justify-self: center;
                        }
                        .purchase-request{
                            .click-request{
                                h3{
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .license.container{
        padding-left: 0 !important;
        .border{
            width: 50% !important;
            padding-left:0 !important;
        }
    }
    @include details(2){
        .col-lg-6{
            &:nth-child(1){
                .col-lg{
                    border: 0 !important;
                }
            }
            >h5{
                border: 0;
            }
        }
    }
    .container.linked-cars{
        .row{
            .card{
                margin: auto 0 !important;
            }
        }
    }
    .container.work-list{
        .row{
            .col-md-4{
                padding: 8px !important;
                .media{
                    .media-left{
                        img{
                            width:70px !important;
                        }
                    }
                    .media-body{
                        .media-heading{
                            font-size: 19px;
                        }
                        p{
                            padding: 17px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
@include med(992px, 768px){
    .container.linked-cars{
        .row{
            .card{
                img{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}
@include medx(768px){
    @include details(1){
        .col-md{
                border: 0 !important;
        }
    }
    .container.work-list{
        .row{
            .col-md-4{
                .media{
                    .media-left{
                        img{
                            width:45px;
                        }
                    }
                    .media-body{
                        .media-heading{
                            font-size: 1.5rem !important;
                        }
                        p{
                            font-size: 1.188rem !important;
                        }
                    }
                }
            }
        }
    }
}
@include medx(575px){
    .container.work-list{
        .row{
            .col-md-4{
                padding: 8px 0 !important;  
                .media{
                    .media-left{
                        img{
                            width:70px !important;
                        }
                    }
                }
            }
        }
    }
}