@import './stylesheet.scss';
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}
@mixin med ($max-w , $min-w){
    @media screen and (max-width: $max-w) and (min-width: $min-w){
        @content;
    }
}
@mixin medx ($max-w) {
    @media screen and (max-width: $max-w){
        @content;
    }
}
@mixin medn ($min-w) {
    @media screen and (min-width: $min-w){
        @content;
    }
}
#{headings(1,6)},a {
    color: $text-primary;
    letter-spacing: -.5px;
}
.d-none{
    display:none;
}
.container{
    
    .car-item {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #c3c4c8;
        margin:5px;

    }


    .car-item:hover {
        background-color: #eeeeee;
        border: 1px solid #ffffff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        transform: perspective(50px) translate3d(0, 5px, 0);
        transition: transform 0.35s;
    }

    .car-item h3 {
        margin-top: 10px;
    }

    .car-item .comment {
        width: 100% !important;
        height: 100% !important;
        margin: auto;
        top: 0;
        right: 0;
        position: absolute;
        background: #ffffff;
        text-align: center;
        padding-top: 20%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.65);
        color: #ffffff;
        line-height: normal;
        display: none;
    }

    .car-item .comment::after {

        content: '';
        border: 1px solid #ffffff;
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        top: 5%;
        right: 5%;

    }

    .shape {
        position: absolute;
        left: 10px;
        top: 0;
        width: 50px;
        height: 21px;
        background: #ed1c24;
        color: #ffffff;
        border-top: 5px solid #939498;
    }

    .shape::after {
        content: '';
        display: block;
        position: relative;
        top: 2px;
        border-style: solid;
        border-width: 10px 50px 0 0;
        border-color: #ed1c24 transparent transparent transparent;
    }

    .like {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: block;
        margin-top: 2px;
        border: 1px solid #eee;

    }

    .like:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .filter_selected_span {
        position: relative;
        text-align: center;
        padding: 5px 5px 5px 15px;
        min-width: 150px;
        width: auto;
        height: 30px;
        display: inline-block;
        margin-bottom: 10px;
        color: $text-primary;
        background: $secondary;
        font-size: 8pt !important;
    }
    .filter_selected{
        text-align: right;
    }
    .filter_selected_span .close {
        position: absolute;
        top: -6px;
        left: 2px;
        font-size: 2.2rem !important;
        color: $primary !important;
    }
    .breadcrumb {
        background-color: #eeeeee !important;
    }
    .page-item.active .page-link{
        background-color: $primary;
        color: $secondary;
    }
    .page-item{
        cursor: pointer;
        .page-link{
            color: $text-primary;
            img{
                width: 12px;
                line-height: 10px;
            }
        }
    }
    .mob-setting{
        background-color: $secondary;
        cursor: pointer;
        height: 30px;
        padding: 21px;
        display: none;
        h5{
            font-size: 1rem;
            margin: 0;
        }
        img{
            width: 18.3px;
            height: 18.3px;
            margin-right: 5px;
        }
    }
    .setting-bread{
        margin-right: 14.3rem;
    }
    .col-lg-3.col-md-4.side-bar.fontsm{
        .col.box-sid{
            .box-sid-header{
                .Collapse-icon{
                    display: none;
                }
                .Collapse-down-icon{
                    display: block;
                }
            }
            .box-sid-content{
                .filter_item{
                    text-align: right;
                }
                .price-search-see-cars{
                    margin-left: 1rem;
                    .row{
                        align-items: center;
                        p{
                            text-align: right;
                                margin-bottom: 0;
                                margin-top: 6px;
                        }
                        .price-search-see-cars-input-wrap{
                            display: flex;
                            input{
                                &:focus{
                                    outline: none;
                                }
                                width: 100%;
                                border: none;
                            }
                        }
                    }
                    .price-search-see-cars-btn-wrap{
                        .btn{
                            display: block;
                            background-color: $primary;
                            color: white;
                            margin: .5rem 0;
                            padding: 6px 12px;
                        }
                    }
                }
                .btn-group{
                    .gearbox_item.fontsm.active{
                        background-color: $primary;
                        color: white;
                    }
                    .gearbox_item.fontsm{
                        font-size: .9rem;
                    }
                }
            }
            .box-sid-header.collapsed{
                .Collapse-icon{
                    display: block;
                }
                .Collapse-down-icon{
                    display: none;
                }
            }
            .nav.nav-tabs{
                padding: 10px 0 20px 0 !important;
                border: 0 !important;
                .nav-item{
                    .nav-link.active{
                        background-color: $primary !important;
                        color: white;
                    }
                    .nav-link{
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        border-radius: 0 !important;
                        height: 36px;
                        width: 116px;
                        background-color: white !important;
                    }
                }
            }
        }
        .tab-content{
            .row{
                .search_btn-by-brand,.search_btn-by-price{
                    background-color: $primary;
                    color: white;
                }
            }
        }
    }
    .work-list-p{
        padding: 0 .3rem;
        .container.work-list{
            .row{
                .col-lg-4{
                    padding: 0 .5rem;
                    &:first-child{
                        padding-right: 0;
                    }
                    &:last-child{
                        padding-left: 0;
                    }
                    .media{
                        flex-direction: column;
                        height: 100%;
                        background-color: $secondary;
                        padding: 18px 14px;
                        p{
                            text-align: right;
                            font-size: 1.188rem;
                        }
                        h4{
                            text-align: right;
                        }
                        .media-middle{
                            margin-left: .9rem;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}
@include medn(1200px){
    .setting-bread{
        margin-right: 18.1rem !important;
    }
}
@include medx(1200px){
    .container.work-list{
        .row{
            .col-lg-4{
                padding: 8px;
                .media{
                    .media-body{
                        .media-heading{
                            font-variant-caps:all-petite-caps;
                        }   
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@include medx(992px){
    .container.work-list{
        .row{
            .col-lg-4{
                padding: 8px !important;
                .media{
                    flex-direction: row !important;
                    .media-left{
                        img{
                            width:70px !important;
                        }
                    }
                    .media-body{
                        .media-heading{
                            font-size: 19px;
                        }
                        p{
                            padding: 17px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
@include medx(767px){
    .container .mob-setting{
        display: flex;
    }
    .setting-bread{
        margin: 0 auto !important;
    }
    .container.work-list{
        .row{
            .col-lg-4{
                .media{
                    .media-left{
                        img{
                            width:45px;
                        }
                    }
                    .media-body{
                        .media-heading{
                            font-size: 1.5rem !important;
                        }
                        p{
                            font-size: 1.188rem !important;
                        }
                    }
                }
            }
        }
    }
}
@include medx(575px){
    .container.work-list{
        .row{
            .col-lg-4{
                padding: 8px 0 !important;  
                .media{
                    .media-left{
                        img{
                            width:70px !important;
                        }
                    }
                }
            }
        }
    }
}
@include medx(407px){
    
}
.noUi-target{
    height: 0.7rem !important;
    margin: 1rem 0;
    margin-left: 1rem;
    .noUi-base{
        .noUi-connects{
            border: 0 !important;
            border-radius: 0 !important;
            background-color: $secondary !important;
            .noUi-connect{
                height: 100% !important;
                background-color: $primary !important;
                height: 10px;
            }
        }
        .noUi-origin{
            .noUi-handle.noUi-handle-lower{
                &:focus{
                    outline: none;
                }
                &::after{
                    display: none !important;
                }
                &::before{
                    display: none !important;
                }
                border: 0 !important;
                box-shadow: none !important;
                border-radius: 0 !important;
                background-color: unset !important;
                margin-right: 0 !important;
                height: 20px;
                width: 20px;
                .noUi-touch-area{
                    background:url("../img/range-marker.png");
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 20px;
                }
            }
            .noUi-handle.noUi-handle-upper{
                &:focus{
                    outline: none;
                }
                &::before{
                    display: none !important;
                }
                &::after{
                    display: none !important;
                }
                border: 0 !important;
                box-shadow: none !important;
                background-color: unset !important;
                margin-right: 0 !important;
                height: 20px;
                width: 20px;
                .noUi-touch-area{
                    background:url("../img/range-marker.png");
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}