@import './all-import.scss';
@mixin med ($max-w , $min-w){
    @media screen and (max-width: $max-w) and (min-width: $min-w){
        @content;
    }
}
@mixin medx ($max-w) {
@media screen and (max-width: $max-w){
    @content;
}
}
@function headings($from:1, $to:6) {
@if $from == $to {
    @return 'h#{$from}';
} @else {
    @return 'h#{$from},' + headings($from+1, $to);
}
}
#{headings(1,6)},p {
color: $text-primary;
    text-align: right;
    &:hover{
        color: $text-primary;
    }
letter-spacing: -.5px;
line-height: 30px;
}
a{
color: $text-primary;
&:hover{
    color: $text-primary;
}
}

.h-wrapper{
    background-color: white;
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .login-about{
            background-image: linear-gradient(yellow,white);
            padding: 1rem;
            img[alt="signup/login"]{
                display: none;
            }
            .dropdown-menu{
                border: 0;
                border-top: 4px solid $primary;
                top: 14px !important;
                left: -17px !important;
                border-radius: 0;
                &::before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: 8.8rem;
                    left: 1rem;
                    border-top: 0;
                    border-right: 0.3em solid transparent;
                    border-bottom: .3rem solid $primary;
                    border-left: 0.3em solid transparent;
                }
                .login-profile{
                    padding: 0 1rem;
                    .btn{
                        width: 10rem;
                        height: 1.8rem;
                        padding: 0;
                        margin: .5rem 0;
                        &:hover{
                            color: white !important;
                        }
                    }
                    h6{
                        img{
                            margin-left:10px;
                        }
                        &:nth-child(2){
                            a{
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .d-flex{
                img{
                    margin-left: 5px;
                    width: 35px;
                    height: 35px;
                }
            }
            .dropdown-icon{
                transform: rotateZ(45deg);
                display: inline-block;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                margin-right: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .nav-header{
            align-items: center;
            display: flex;
            li {
                img{
                    display: none;
                }
                a{
                    margin: 0 .2rem;
                }
            }   
        }
        img{
            margin-left: 1.8rem;
        }
        .sm-nav-header-icon{
            display: none;
        }
    }
}
@include medx(838px){
    .h-wrapper{
        .shadow-on-nav{
            z-index: 0;
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.452);
        }
        .container-fluid{
            padding: 0;
            justify-content: space-between;
            .login-about{
                margin-top: .7rem;
                margin-left: .4rem; 
                padding: .5rem;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                .signup-login{
                    display: none;
                }
                >h6{
                    margin-right: 1rem;
                }
                .d-flex{
                    flex-direction: row;
                .call-us{
                    display: none !important;
                    }
                }
            }
            img[alt="signup/login"]{
                display: block !important;
                width: 20px;
                height: 20px;
                margin-left: 0;
            }
            img[alt = "talking-by-phone-auricular-symbol-with-speech-bubble"]{
                display: none !important;
            }
            img[alt="logo"]{
                margin-left: 0;
                height: 2.8rem;
            }
            .sm-nav-header-icon{
                display: block;
                margin-right: .5rem;
            }
            .nav-header{
                display: none;
                position: fixed;
                right: 0;
                transition: 0.5s;
                left: 7rem;
                transform: translateX(100%);
                border-left: 1px solid $primary;
                border-right: 1px solid $primary;
                top:0;
                bottom: 0;
                z-index: 2;
                background-color: #fff;
                flex-direction: column;
                align-items: flex-end !important;
                li{
                    img{
                        display: inline-block;
                        margin-left: 0rem;
                    }
                    margin: .4rem 0;
                    a{
                        margin: 0 1rem;
                    }
                }
                span{
                    display: none;
                }                
            }
        }
    }
}