<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نتایج جستجو</title>
</head>

<body>
    <div class="container" style="margin-top: 10px;">
            <div class="d-flex setting-bread">
                    <div class="mob-setting mx-4 rounded-lg justify-content-center align-items-center">
                            <h5>تنظیمات پیشرفنه</h5>
                            <img src="../../img/common/sliders-h-solid.svg" alt="mob-setting">
                    </div>
                    <nav aria-label="breadcrumb">
                        <ul class="fontsm breadcrumb">
                            <li class="breadcrumb-item"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item"><a href="#">خودروها</a></li>
                            <li class="breadcrumb-item">تویوتا</li>
                            <li class="breadcrumb-item active" aria-current="page">سواری</li>
                        </ul>
                    </nav>
                </div>
        <div class="row">
            <!--side bar--->
            <div class="col-lg-3 col-md-4 side-bar fontsm">

                <div class="col box-sid" style="background-color: #eeeeee;">


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">بر اساس برند</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">بر اساس قیمت</a>
                        </li>
                    </ul>


                    <div class="tab-content" id="myTabContent">

                        <!--search by brand car-tab content-->
                        <div aria-labelledby="home-tab" class="tab-pane fade show active search_by_brand" id="home"
                            role="tabpanel">


                            <div class="row mt-1">
                                <div class=" col">

                                    <select class="fontsm form-control ">
                                        <option>برند مورد نظر را انتخاب کنید</option>
                                        <option data-id="b-1">تویوتا</option>
                                        <option data-id="b-2"> لکسوس</option>
                                        <option data-id="b-3"> رنو</option>

                                    </select>

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">


                                    <select class="fontsm form-control">
                                        <option>مدل مورد نظر را انتخاب کنید</option>
                                        <option data-id="m-1">C-HR</option>
                                        <option data-id="m-2"> PRIUS</option>
                                        <option data-id="m-3"> PRADO</option>

                                    </select>


                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col">


                                    <select class="fontsm form-control">
                                        <option>تیپ مورد نظر را انتخاب کنید</option>
                                        <option data-id="t-1">E3</option>
                                        <option data-id="t-2"> ES</option>
                                        <option data-id="t-3"> ML</option>

                                    </select>

                                </div>
                            </div>

                            <div class="row mt-1">

                                <div class="col">
                                    <select class="fontsm form-control">
                                        <option>از سال</option>
                                        <option data-id="y-1">2011</option>
                                        <option data-id="y-2"> 2012</option>
                                        <option data-id="y-3"> 2013</option>
                                        <option data-id="y-4"> 2014</option>
                                        <option data-id="y-5"> 2015</option>
                                        <option data-id="y-6"> 2016</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <select class="fontsm form-control">
                                        <option>تا سال</option>
                                        <option data-id="y-1">2011</option>
                                        <option data-id="y-2"> 2012</option>
                                        <option data-id="y-3"> 2013</option>
                                        <option data-id="y-4"> 2014</option>
                                        <option data-id="y-5"> 2015</option>
                                        <option data-id="y-6"> 2016</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row">
                                <button type="button" class="search_btn-by-brand col btn mt-1 ml-3 m-2">
                                    جستجو خودرو
                                </button>
                            </div>

                        </div>
                        <!--end search by brand car-tab content-->


                        <!--search by price car-tab content-->
                        <div aria-labelledby="profile-tab" class="tab-pane fade search_by_price" id="profile" role="tabpanel">


                            <div class="row mt-1">
                                <div class=" col">
                                    <label for="price1" style="margin-top: 10px;"> مبلغ مورد نظر خود را بر حسب
                                        <mark>تومان</mark>
                                        وارد کنید</label>
                                    <input id="price1" class="fontsm form-control" type="text" placeholder="از قیمت(تومان)">

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">


                                    <input id="price2" class="fontsm form-control" placeholder="تا قیمت(تومان)">


                                </div>
                            </div>


                            <div class="row mt-1">


                                <button type="button" class="search_btn-by-price col btn mt-1 ml-3 m-2">
                                    جستجو
                                    خودرو
                                </button>


                            </div>

                        </div>
                        <!--end search by price car-tab content-->

                    </div>

                </div>
                <div class="col box-sid">
                    <p class="box-sid-header collapsed" data-target="#box-sid-content" data-toggle="collapse">
                        فیلتر نوع آگهی
                        <span class="Collapse-icon"></span>
                        <span class="Collapse-down-icon"></span>
                    </p>

                    <div class="box-sid-content collapse" id="box-sid-content">
                        <div data-id="1" class="filter_item checkbox">
                            <label for="input1" class="form-check-inline"><input type="checkbox" data-id="1" class="checkbox"
                                    style="margin-left: 5px;"> فقط آگهی های تراست خودرو</label>
                        </div>
                        <div data-id="2" class="filter_item checkbox">
                            <label for="input2" class="form-check-inline"><input type="checkbox" data-id="2" class="checkbox"
                                    style="margin-left: 5px;"> آگهی های شخصی</label>
                        </div>
                    </div>

                </div>
                <div class="col box-sid">
                    <p class="box-sid-header collapsed" data-target="#box-sid-content1" data-toggle="collapse">
                        قیمت
                        <span class="Collapse-icon"></span>
                        <span class="Collapse-down-icon"></span>
                    </p>
                    <div class="box-sid-content collapse" id="box-sid-content1">
                            <div id="slider3"></div>
                            <div class="price-search-see-cars">
                                <div class="row">
                                    <p class="col-5">تومان</p>
                                    <div class="price-search-see-cars-input-wrap col">
                                        <input type="text" name="minPrice" class="form-field num1" value="2010" id="lower-number3">
                                        <p>-</p>
                                        <input type="text" name="maxPrice" class="form-field num2" value="2015" id="upper-number3">
                                    </div>
                                </div>
                                <div class="price-search-see-cars-btn-wrap" data-filter="cost">
                                    <a href="#" class="btn">
                                        اعمال
                                    </a>
                                </div>
                        </div>
                    </div>

                </div>
                <div class="col box-sid">
                    <p class="box-sid-header collapsed" data-target="#box-sid-content2" data-toggle="collapse">
                        کارکرد
                        <span class="Collapse-icon"></span>
                        <span class="Collapse-down-icon"></span>
                    </p>
                    <div class="box-sid-content collapse" id="box-sid-content2">
                            <div id="slider2"></div>
                            <div class="price-search-see-cars">
                                <div class="row">
                                    <p class="col-6">کیلومتر</p>
                                    <div class="price-search-see-cars-input-wrap col">
                                        <input type="text" name="minPrice" class="form-field num1" value="2010" id="lower-number2">
                                        <p>-</p>
                                        <input type="text" name="maxPrice" class="form-field num2" value="2015" id="upper-number2">
                                    </div>
                                </div>
                                <div class="price-search-see-cars-btn-wrap" data-filter="use">
                                    <a href="#" class="btn">
                                        اعمال
                                    </a>
                                </div>
                            </div>
                    </div>

                </div>
                <div class="col box-sid">
                    <p class="box-sid-header collapsed" data-target="#box-sid-content3" data-toggle="collapse">
                        مدل
                        <span class="Collapse-icon"></span>
                        <span class="Collapse-down-icon"></span>
                    </p>
                    <div class="box-sid-content collapse" id="box-sid-content3">
                        <div id="slider"></div>
                        <div class="price-search-see-cars">
                            <div class="row">
                                <p class="col-6">سال</p>
                                <div class="price-search-see-cars-input-wrap col">
                                    <input type="text" name="minPrice" class="form-field num1" value="2010" id="lower-number">
                                    <p>-</p>
                                    <input type="text" name="maxPrice" class="form-field num2" value="2015" id="upper-number">
                                </div>
                            </div>
                            <div class="price-search-see-cars-btn-wrap" data-filter="type">
                                <a href="#" class="btn">
                                    اعمال
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col box-sid">
                    <p class="box-sid-header collapsed" data-target="#box-sid-content4" data-toggle="collapse">
                        گیربکس
                        <span class="Collapse-icon"></span>
                        <span class="Collapse-down-icon"></span>
                    </p>
                    <div class="box-sid-content collapse" id="box-sid-content4">
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 10px;">
                            <div data-id="g-1" type="div " class="gearbox_item mx-1 px-3 active border fontsm rounded">هر
                                دو
                            </div>
                            <div data-id="g-1" type="div" class="gearbox_item mx-1 px-3 fontsm border rounded">دنده
                                ای
                            </div>
                            <div data-id="g-1" type="div" class="gearbox_item mx-1 px-3 fontsm border rounded">
                                اتوماتیک
                            </div>
                        </div>


                    </div>

                </div>


            </div>
            <!--end side bar--->

            <!--content - search result--->
            <div class="col-lg-9 col-md-8 main-content" style="background-color:#ffffff">

                <!--site map-->
                <!--end site map-->

                <!--user filter select-->

                <div class="row">

                    <div class="col-12 filter_selected">


                    </div>


                </div>


                <!--end user filter select-->


                <!--car info-->
                <div class="row">

                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <!--end car info-->
                <!--navigation-->

                <div class="row ">
                    <div class="col-lg work-list-p">
                            <div class="container my-2 work-list">
                                    <div class="row">
                                            <div class="col-lg-4 col-md-12">
                                                    <div class="media border rounded">
                                                        <div class="media-left media-middle">
                                                            <img src="../../img/order/icons/01.png" class="media-object">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">ثبت اگهی رایگان</h4>
                                                            <p>می خوای خودرو تو بفروشی؟اطلاعات خودرو تو ثبت کن تا برای فروش در این سایت نمایش داده بشه</p>
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="col-lg-4 col-md-12">
                                                <div class="media border rounded">
                                                    <div class="media-left media-middle">
                                                        <img src="../../img/order/icons/02.png" class="media-object">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">سفارش خودرو</h4>
                                                        <p>خودرویی مه می خوای و پیدا نمی کنی؟ همین حالا مشخصاتش رو ثبت کن تا ما برات پیداش کنیم</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12">
                                                    <div class="media border rounded">
                                                        <div class="media-left media-middle">
                                                            <img src="../../img/order/icons/03.png" class="media-object">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">ارتباط با کارشناسان ما</h4>
                                                            <p>نیاز به کمک داری و دوست داری با یه کارشناس خبره مشورت کنی پس همین حالا کلیک کن</p>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                    </div>
                </div>

                <!--end navigation-->
                <!--car info-->
                <div class="row">

                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="car-item col-lg  rounded" style="position: relative;">

                        <a href="#">
                            <div class=" mb-0 comment rounded">
                                <p> این خودرو به لحاظ فنی بسیار سالم است</p>
                                <p> بدون رنگ شدگی و خط خوردگی</p>
                                <p>بیمه تا پایان سال 98</p>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <h3 class="fontlg">
                                        تویوتا/کروکلا/GLI
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <div class="shape fontxs text-center">
                                        آگهی شخصی
                                    </div>
                                </div>
                            </div>

                            <img src="../../img/car-photo-sales/1.jpg" class="img-fluid rounded">

                            <div class="caption">
                                <div class="row">

                                    <div class="col-6">
                                        <span class="fontxs">
                                            کارکرد:
                                        </span>
                                        <span>
                                            96,000
                                        </span>
                                        <span class="fontxs">
                                            کیلومتر
                                        </span>
                                    </div>


                                    <div class="col-6">
                                        <span class="fontxs">
                                            سال ساخت:
                                        </span>
                                        <span>
                                            2016
                                        </span>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <span>
                                            254,000,000
                                        </span>
                                        <span class="fontxs">
                                            تومان
                                        </span>
                                    </div>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <!--end car info-->
                <br>
                <!-- start paggination-->
                <div class="row">
                    <nav aria-label="Page navigation example " style="margin: auto">
                        <ul class="pagination justify-content-center" dir="ltr">
                            <li class="page-item"><a class="page-link border-0 rounded-lg"><svg aria-hidden="true" width="12" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
                            </li>
                            <li class="page-item"><a class="page-link border-0 rounded-lg"><svg aria-hidden="true" width="8" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"> <path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></a>
                            </li>
                            <li class="page-item"><a class="page-link border-0 rounded-lg">3</a></li>
                            <li class="page-item"><a class="page-link border-0 rounded-lg">2</a></li>
                            <li class="page-item active"><a class="page-link border-0 rounded-lg">1</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- end paggination-->
            </div>

            <!--end content - search result--->


        </div>


    </div>
</body>


</html>
